body {
    background: #FECA6D;
}


/* header */

.head-area {
    color: #333;
    font-size: .3rem;
    text-align: center;
    padding: .3rem 0;
}


/* b-img-container */

.puz-container {
    overflow: hidden;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.puz-wrap {
    margin: .3rem;
    border-radius: .1rem;
}

.puz-container>div>div {
    float: left;
    width: 3.42rem;
    position: relative;
}

.puz-container>div>div:nth-child(1),
.puz-container>div>div:nth-child(2) {
    margin-bottom: .06rem;
}
.puz-container>div>div:nth-child(1),
.puz-container>div>div:nth-child(3){
    margin-right: .06rem;
}
.bg-no-cov {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
}


/* basket -area  */
.basket-area{
    width:7rem;
    overflow: hidden;
    background: #BCE7E5;
    margin:  0 auto;
    border-radius: .1rem;
}
.bask-cov {
    /* margin: 1rem auto; */
    /* width: 7rem; */
    /* height: 1.4rem; */
    /* background: #BCE7E5; */
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: .1rem;    
    padding:  .2rem
    
}


.bas-container {
    width: auto;
    background: #BCE7E5;
    position: relative;
    border-radius: .1rem;  
}

.debris-card {
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: .2rem;
    position: relative;
}

.debris-card:last-child{
    margin-right: 0;
}
.debris-card>img {
    border-radius: .1rem;
}

.debris-num {
    width: .35rem;
    height: .35rem;
    line-height: .35rem;
    border-radius: 100%;
    background: #BF0712;
    color: #fff;
    font-size: .26rem;
    position: absolute;
    top: -.1rem;
    right: -.1rem;
    text-align: center;
}


/* animate  S*/
.add-debris-card{
    transition: all 1s ease; 
    z-index: 1000;
}
.add-b-debris-card{
    transition: all .6s ease; 
    z-index: 1000;
}
.add-debris-card>img{
    border-radius: 0;    
}
/* animate  E */

